# Secrets
.env

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
database/*.db
database/backups/*.db

# IDE files
.vscode/
.idea/
